.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content(100%);
    gap: 24px;
    align-items: center;
    border: 1px solid #000;
}

.d1 {
    height: 50px;
    width: 100%;
    background: yellow;
}